name: Main

on: [push, pull_request]

env:
  RADIAN_NO_INPUTHOOK: 1

jobs:
  pytest:
    name: Running tests on ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        r: [latest]
        # r: [3.5, latest, devel]
        python: [3.7]
        # python: [2.7, 3.5, 3.6, 3.7]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
        name: Install Python
        with:
          python-version: ${{ matrix.python }}
      - uses: r-lib/actions/setup-r@v1
        with:
          r-version: ${{ matrix.r }}
      - name: Install reticulate
        run: Rscript -e "install.packages('reticulate')"
      - name: Install and run tests
        run: |
          python -m pip install -e .[test]
          python -m pip install jedi==0.17.2
          pytest -s
